<ion-content [fullscreen]="true" class="home-bg">

  <!-- HEADER -->
  <div class="top-header">
    <div class="app-name">DanaKilat</div>
    <ion-icon name="notifications-outline"></ion-icon>
  </div>

  <!-- SALDO CARD -->
  <div class="saldo-card">
    <div class="saldo-label">Saldo Aktif</div>
    <div class="saldo-nominal">
      Rp {{ wallet.saldo | number:'1.0-0' }}
    </div>

    <ion-button size="small" shape="round" fill="solid" color="light" (click)="isiSaldo()">
      + Isi Saldo
    </ion-button>
  </div>

  <!-- TRANSAKSI -->
  <div class="transaksi-section">
    <h3>Transaksi Terbaru</h3>

    <ion-list lines="none">

      <ion-item *ngFor="let item of wallet.history" class="transaksi-item">

        <ion-icon slot="start" [name]="item.tipe === 'topup' ? 'arrow-down-circle' : 'arrow-up-circle'"
          [color]="item.tipe === 'topup' ? 'success' : 'danger'">
        </ion-icon>

        <ion-label>
          <h2>
            {{ item.tipe === 'topup' ? 'Isi Saldo' : 'Pembayaran' }}
          </h2>
          <p>{{ item.waktu }}</p>
        </ion-label>

        <ion-note slot="end" [color]="item.tipe === 'topup' ? 'success' : 'danger'">

          {{ item.tipe === 'topup' ? '+Rp ' : '-Rp ' }}
          {{ item.nominal | number }}

        </ion-note>

      </ion-item>

    </ion-list>
  </div>

  <ion-button (click)="goToMerchant()" expand="block" class="merchant-btn">
    Buka Halaman Merchant
  </ion-button>

</ion-content>
